.app__header {
    background-color: var(--color-black) ;
}

.app__header-h1 {
    font-weight: var(--font-base);
    font-size: 90px;

    color: var(--color-golden);

    letter-spacing: 0.04em;

    text-transform: uppercase;

    line-height: 117px;
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 10px;
    }

    .app__wrapper-img {
        margin-top: 30px;
    }
}
